.features {
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .features-header {
        text-align: center;
        max-width: 911px;
        margin-bottom: 85px;

        h3 {
            font-size: 42px;
            font-weight: 500;
            margin-bottom: 20px;
        }
    }
}
