// RESET CSS

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

ul,
li {
    list-style: none;
}

button {
    border: none;
    outline: none;
    font-family: inherit;
    font-weight: 600;
    cursor: pointer;

    &:hover {
        opacity: 0.8;
    }
}

p {
    font-weight: 400;
}

// RESET CSS

$primary: #30202b;
$secondary: #fbf7f4;
$background: #eee6e2;
$gray: #7e7e7e;

.text-primary {
    color: #30202b;
}

body {
    background-color: $background;
    font-size: 16px;
}

.container {
    width: 1240px;
    margin: 0 auto;

    @media (max-width: 1260px) {
        width: 100%;
        padding: 0 20px;
    }
}
.btn {
    color: $primary;
    display: flex;
    align-items: center;
    gap: 5px;
    background-color: transparent;
}

.btn-primary {
    background-color: $primary;
    border-radius: 10px;
    padding: 15px 25px;
    color: white;
    display: flex;
    align-items: center;
    gap: 5px;
}

.btn-secondary {
    background-color: $secondary;
    color: $primary;
    border: 1px solid white;
    border-radius: 10px;
    padding: 15px 25px;
    display: flex;
    align-items: center;
    gap: 5px;
}

.box {
    border: 1px solid white;
    background-color: $secondary;
    border-radius: 10px;
}

.text-gray {
    color: $gray;
}

.section-header {
    color: $primary;
    font-size: 42px;
    font-weight: 500;
}
