nav {
    height: 55px;

    margin-top: 30px;

    .inner {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .logo {
            display: flex;
            align-items: center;
            gap: 10px;
        }

        .nav-links {
            display: flex;
            align-items: center;
            gap: 5vw;
            font-weight: 500;
        }
    }
}
